//Variables para los estilos 
$base-color : #2E4057;
$base-variant : #4D648D;
$contrast-color : #006400;
$contrast-variant : #555555;
$contrast : #FFA500;
$base-white : #FFFFFF;
$base-black : #000000;

